
body {
  background-color: #b2d9d6;
  color: white;
  font-family: 'Oswald', sans-serif;
}


/* NAVIGATION */
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #34B9EF;
  padding: 1em;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  font-size: 1.2em; /* Increase the font size */
  transition: transform 0.2s, background-color 0.2s, color 0.2s; /* Add transition for smooth effect */
}

.navbar a:hover {
  background-color: white;
  border-radius: 50px;
  color: #34B9EF;
  transform: scale(1.1); /* Make the text pop out */
}

.wrapper {
  display: flex;
  justify-content: space-between;
}



.mail {
  max-width: 300px;
  margin: 5em;
}

.banner-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}



.banner-container h1,
.banner-container h3,
.banner-container h4 {
  margin: 0.5em 0;
}



/* MAIN */

.take-a-look {
  text-align: center;
  margin-top: 2em;
  font-size: 2em; /* Increase the font size */
}


/* ENVELOPE */

*{
    margin:0;
    padding:0;
  }
  
 
  
  .wrapper {
    position:absolute;
    top:50%;
    left:50%;
    
    
    transform: translate(-50%, -50%);
  
  }
  
  
  
  .mail {
    width: 300px;
    height: 200px;
    background: #fadf9f;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  
  
  
   
  .mail:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    
    
    border-left: 150px solid transparent;
    border-right: 150px solid white;
    border-top: 100px solid transparent;
    border-bottom: 100px solid whitesmoke;
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 5;
  }
  
  .mail:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-left: 150px solid white;
    border-right: 150px solid transparent;
    border-top: 100px solid transparent;
    border-bottom: 100px solid #d3d3d3;
  
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 4;
  }
  
   
  .cover:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 100px solid #d3d3d3;
    border-bottom: 100px solid transparent;
    z-index: 6;
    transform-origin: top;
    transform: rotateX(0deg);
    transition: all 0.6s 0.4s ease;
  
  }
  
  .letter{
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 10px;
    background: white;
    width: 280px;
    height: 180px;
    border-radius: 20px;
    transition: all 0.6s ease;
  }
  
  .letter h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 700;
    color: black;
   
    
  }
  
  
  .mail:hover .cover:before{
    transform: rotateX(180deg);
    transition: all 0.6s ease;
    z-index: -1;
    border-top: 100px solid #fadf9f;
  }
  
  .mail:hover .letter{
    top: -80px;
    transition: all 0.6s 0.8s ease;
  }

  /* FOOTER */

  .footer {
    background-color: #34B9EF;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}


/******** GAMES **********
***********************/

.image-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 150px;
}

.image-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 10px;
}

.image-wrapper img {
  width: 400px; /* Adjust the size as needed */
  height: 350px; /* Adjust the size as needed */
  transition: transform 0.3s;
}

.image-wrapper .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-wrapper .text {
  font-size: 1.5em;
  text-align: center;
  padding: 0.5em;
}

.image-wrapper:hover img {
  transform: scale(1.1);
}

.image-wrapper:hover .overlay {
  opacity: 1;
}


/* PLAYLIST */
/* Resetting defaults */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #b2d9d6; /* Background color you specified */
  color: white; /* Text color you specified */
}

.fade-in-h1 {
  text-align: center;
  font-size: 2rem; /* Adjust font size as needed */
  margin-bottom: 20px; /* Adjust spacing */
}

.spotify-embed {
  width: 80%; /* Adjust width as needed */
  max-width: 600px; /* Maximum width */
  margin: 0 auto; /* Center align horizontally */
  overflow: hidden; /* Ensure embed stays within its container */
  
}

.spotify-embed iframe {
  width: 100%;
  height: 80vh; /* Adjust height proportionally */
  border: none; /* Remove iframe border */
  margin-bottom: -50px;
}


/* PICTURES */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



h1, h2 {
  text-align: center;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.custom-images .row {
  margin-bottom: 20px; /* Adjust spacing between rows */
}

.custom-images img {
  width: 200px; /* Adjust size as needed */
  height: 200px; /* Adjust size as needed */
  object-fit: cover; /* Maintain aspect ratio */
  transition: transform 0.3s ease-in-out; /* Smooth transition */
  border-radius: 10px;
}

.custom-images img:hover {
  transform: scale(1.1); /* Scale up by 10% on hover */
}

/* mailbox picture */
.shaking-image {
  animation: shake 3s ease-in-out infinite; /* Adjust timing and animation type as needed */
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.giphy-container {
  display: flex;
  justify-content: center;
  margin-top: 200px; /* Adjust margin as needed */
}
